@import '../settings';

.wrapper {
  background: $color-background-lightest;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
}

.inner-wrapper {
  display: block;
  margin: 0 auto;
  max-width: $width-max-outer;
  width: 90%;
}

.main-content {
  background: $color-background-lightest;
  clear: both;
  margin: 0 auto 2em auto;
  min-height: 400px;
  overflow: hidden;
  padding: $header-total-height 1em 2em 1em;

  &.with-sidebar {
    padding-right: 0;

    .page-content {
      float: left;
      width: 60%;
    }
  }
}

.page-content {
  margin-top: 4em;
}

@media screen and (max-width: 60em) {
  .inner-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 47.5em) {
  .main-content {
    &.with-sidebar {
       padding-right: 1em;

      .page-content {
        margin-bottom: 1em;
        width: 100%;
      }
    }
  }
}
