@import '../settings';

.colophon {
  background: $color-background-primary-light;
  clear: both;
  color: $color-text-light;
  font-size: 1em;
  font-weight: 400;
  height: 100px;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

.footer-content {
}