@import '../settings';

.colophon {
  background: $color-background-primary-light;
  color: $color-text-light;

  .social-media {
    display: block;
    list-style: none;
    font-weight: 400;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      margin: 0 0.5em;
    }

    a {
      @include background-size(50px, 50px);
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 50px;
      text-indent: -9999px;
      width: 50px;

      &[data-image*=twitter] {
        background-image: image-url('twitter.png');
      }

      &[data-image*=facebook] {
        background-image: image-url('facebook.png');
      }

      &[data-image*=email] {
        background-image: image-url('mail-icon.png');
      }
    }
  }

  .footer-content {
    height: 100px;
    font-size: $size-font-base;
    font-weight: 400;
    text-align: center;

    a {
      color: $color-text-light;
      display: inline-block;
    }
  }
}

