<!DOCTYPE html>
<html>
    {% include 'head_tag' %}

    <body class="no-js">
        <div class="wrapper">
            <main class="main-content inner-wrapper">
                <article class="page-content">
                    {% block content_wrapper %}
                        {% block content %}
                        {% endblock %}
                    {% endblock %}
                </article>
            </main>

            {% include 'footer' %}

        </div>{# .wrapper #}
        <div class="mobile-nav-menu"></div>{# placeholder for mobile nav #}

        {% include 'footer_scripts' %}

    </body>
</html>
