<footer class="colophon">
    <ul class="grid grid-pad social-media footer-row">
        <li><a href="https://twitter.com/midwestphp"
               data-image="twitter" title="Midwest PHP on Twitter">Twitter</a></li>

        <li><a href="https://www.facebook.com/midwestconf"
               data-image="facebook" title="Midwest PHP on Facebook">Facebook</a></li>

        <li><a href="mailto:info@midwestphp.com"
               data-image="email" title="Email Midwest PHP">Email</a></li>
    </ul><!-- .footer-row -->

    <div class="grid grid-pad footer-row">
        <div class="col-1-1 footer-content">
            <p>Copyright &copy; {{ "now"|date("Y") }} {{ site.title }} -
                <a href="/code-of-conduct/">Code of Conduct</a></p>
        </div>
    </div><!-- .footer-row -->
</footer><!-- .colophon -->
