<footer class="colophon">
    <div class="grid grid-pad footer-row">
        <div class="col-1-3 social-media">
            <a href="https://twitter.com/midwestphp">
                <img src="/{{ theme_path('assets/img/twitter.png') }}" alt="Twitter" />Twitter
            </a>
        </div>
        <div class="col-1-3 social-media">
            <a href="https://www.facebook.com/midwestconf">
                <img src="/{{ theme_path('assets/img/facebook.png') }}" alt="Facebook" />Facebook
            </a>
        </div>
        <div class="col-1-3 social-media">
            <a href="https://twitter.com/midwestphp">
                Email
            </a>
        </div>
    </div>
    <div class="grid grid-pad footer-row">
        <div class="col-1-1 footer-content">
            Copyright &copy; {{ "now"|date("Y") }} {{ site.title }} - <a href="/code-of-conduct/">Code of Conduct</a>
        </div>
    </div>
</footer>
