<div id="mc_embed_signup">
    <form action="//midwestphp.us6.list-manage.com/subscribe/post?u=997a6609e4841195621a16d55&amp;id=b632b88998"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
        <label for="mce-EMAIL">Subscribe to Midwest PHP:</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        {# real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_997a6609e4841195621a16d55_b632b88998" tabindex="-1" value="">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
</div>

<footer class="colophon">
    <ul class="grid grid-pad social-media footer-row">
        <li><a href="https://twitter.com/midwestphp"
               data-image="twitter" title="Midwest PHP on Twitter">Twitter</a></li>

        <li><a href="https://www.facebook.com/midwestconf"
               data-image="facebook" title="Midwest PHP on Facebook">Facebook</a></li>

        <li><a href="https://plus.google.com/110880289793355355106" rel="publisher" data-image="google-plus"
               title="Midwest PHP on Google+">Google+</a></li>

        <li><a href="mailto:info@midwestphp.org"
               data-image="email" title="Email Midwest PHP">Email</a></li>
    </ul><!-- .footer-row -->

    <div class="grid grid-pad footer-row">
        <div class="col-1-1 footer-content">
            <p>Copyright &copy; {{ "now"|date("Y") }} {{ site.title }} -
                <a href="/code-of-conduct/">Code of Conduct</a></p>
        </div>
    </div><!-- .footer-row -->
</footer><!-- .colophon -->
