---
layout: speaker
firstname: Jordi
lastname: Boggiano
image: jordi-boggiano.jpg
twitter: http://twitter.com/seldaek
---
<p>Jordi Boggiano is the author of a few open source apps/libs (Composer, Monolog, php-console, ..), and frequent
    contributor to other projects (Symfony2, Twig and others). He has been involved in web development for over 10
    years, working mostly with PHP and JavaScript. He is currently maintaining Composer/Packagist while working on Toran
    Proxy. Find out more at http://nelm.io/jordi</p>