---
layout: speaker
firstname: Nate
lastname: Abele
image: nate-abele.jpg
twitter: http://twitter.com/nateabele
---
<p>Nate Abele first took an interest in programming at age 11, so you can tell how cool he is. In the course of his
    career, he has mostly eschewed working for large companies, in favor of the culture found in small businesses &
    startups. Nate has been employed by one of the most well-known & well-respected PHP consultancies in the world, and
    has worked on projects of all shapes and sizes. In other, more esoteric periods of work history, Nate has also
    worked with a humble 'productivity' software vendor in greater Seattle, and a small fruit vendor outside San José.
    However, Nate is probably best known for his contributions to Open Source, including helping to create one of the
    most well-known & widely-used frameworks for PHP. 7 years' experience working on a large, high-adoption project has
    helped to inform & guide his current crop of Open Source projects (he accidentally co-founded the Li3 PHP framework
    (http://li3.me), and is a member of the AngularUI team), writing, teaching, and consulting (http://radify.io/). When
    not staring at glowing rectangles of various sizes, Nate enjoys eating delicious food, playing guitar, snowboarding,
    and writing about himself in the third person.</p>