---
firstname: patrick
last-name: mizer
twitter:
---
<p>Patrick Mizer has been working with PHP since 2002. Patrick is currently the lead developer at SpareFoot, where he works on solving hard problems using PHP, Java and AWS. When he is not coding, he is home brewing mediocre beer or mountain biking. Patrick is a Zend Certified Engineer (PHP and Zend Framework).</p>