/*--------||
|| Colors ||
||--------*/
// Background colors
$color-background-primary-dark: rgb(27,117,187);
$color-background-primary-light: rgb(0,176,216);
$color-background-lightest: rgb(255,255,255);

// Grays
$color-gray-dark: rgb(110,110,110);
$color-gray-medium: rgb(180,180,180);
$color-gray-light: rgb(220,220,220);
$color-gray-lightest: rgb(245,245,245);
$color-gray-lightest-transluscent: rgba(245,245,245,0.9);

/*-------||
|| Text  ||
||-------*/
// Font sizes
$size-font-base: 1em;

// Font families
$sans: Lato, Helvetica, Arial, sans-serif;
$serif: serif;

// Text colors
$color-text-dark: rgb(29,29,29);
$color-text-light: rgb(245,245,245);

// Links
$color-links-dark: $color-background-primary-dark;

// Maximum widths
$width-max-outer: 75em; // 1200px equivalent at 1em base

/*---------||
|| Layouts ||
||---------*/
$height-header: 6.25em;
$height-header-border: 2.5em;
$header-total-height: $height-header + $height-header-border;


$text-muted:                  $color-gray-medium !default;
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($size-font-base * $line-height-base)) !default; // ~20px

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;