---
layout: default
title: Home
use: [sponsors]
---
<h1>Midwest PHP is almost here!</h1>
<p>Save the date: the Midwest PHP Conference returns to the University of St. Thomas Downtown Minneapolis campus on
    March 14 &amp; 15, 2015. Now in its third year, Midwest PHP will bring together web professionals from across
    the community to learn about best practices and modern development tools related to PHP, JavaScript, HTML, CSS,
    and more.</p>

{% if site.template != 'splash' %}
    {% include 'sponsors-block' %}
{% endif %}

