---
layout: default
title: Home
---

{% if site.template == 'splash' %}

    <p>Save the date! The Midwest PHP Conference returns to the University of St. Thomas Downtown Minneapolis campus on
        March
        14 &amp; 15, 2015. Now in its third year, the conference will bring together developers from across the PHP
        community to learn about modern web development practices across a range of technologies, including PHP,
        JavaScript, HTML, CSS, and more.</p>

    <p><strong>Call for Papers opens on October 2, 2014</strong>. For up-to-date news about Midwest PHP, including
        early-bird tickets, sponsorship, promotions, and more, subscribe to our mailing list below!</p>

    <div id="mc_embed_signup">
        <form action="//midwestphp.us6.list-manage.com/subscribe/post?u=997a6609e4841195621a16d55&amp;id=b632b88998"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
            <label for="mce-EMAIL">Subscribe to Midwest PHP:</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            {# real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_997a6609e4841195621a16d55_b632b88998" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
    </div>

{% elseif site.template == 'default' %}
    Not Splash
{% endif %}
