---
layout: default
title: Home
use: [sponsors]
---
<h1>Midwest PHP has came and gone</h1>
<p>Thank you to everyone that attended this year's Midwest PHP 2015 Conference. We had a blast putting it on for all of you and we hope you had a blast attending. We are working hard on the 2016 venue and information so stay tuned for that. In the mean time, don't forget to fill out the survey we sent, provide the <a href="https://joind.in/event/view/2871" target="_blank">feed back</a> to the talks you attended, and <a href="/write-ups">read</a> some thoughts on this years conference.</p>

<p>See you again soon in 2016.</p>

{% if site.template != 'splash' %}
    {% include 'sponsors-block' %}
{% endif %}

