---
layout: splash
title: Home
---

{%  if page.layout == 'splash'  %}

    <div class="grid grid-pad">
        <img class="col-1-4" id="splash-image" src="/{{ theme_path('assets/img/mwphp-logo.png') }}" />
        <div class="col-3-4">
            <div class="grid grid-pad">
                <h1>Midwest PHP 2015</h1>
                <h2>Conference March 14-15</h2>
                <h4>St Thomas University Minneapolis</h4>
            </div>
        </div>
    </div>

    <div class="grid grid-pad">
        <div class="grid-1-1">
            Engage with industry leaders from PHP, Javascript, HTML, CSS, and all other technologies that make the web possible!

            All technologists welcome!
        </div>
    </div>

    <div class="grid grid-pad">
        <div class="grid-1-1">
            Sign-up to learn more about midwest PHP 2015 information!!! <br />
            <input type="text" name="sign-up" id="sign-up" placeholder="email@address.com">
        </div>
    </div>

{%  elseif page.layout == 'default' %}
    Not Splash
{%  endif  %}
