---
layout: default
title: Schedule
use: [talks]
---
<div class="schedule">
<h3>Day 1</h3>
<table class="table table-striped table-condensed ">
    <thead>
    <tr class="vcard">
        <th scope="col">&nbsp;</th>
        <th scope="col">Auditorium</th>
        <th scope="col">Room 235</th>
        <th scope="col">Room 236</th>
    </tr>
    </thead>
    <tbody>
    <tr class="vcard">
        <td data-title="Time">8:00 AM</td>
        <td data-title="Main Entry" colspan="3">Registration</td>
    </tr>
    <tr class="vcard">
        <td scope="row" data-title="Time">9:00 AM</td>
        <td data-title="Auditorium" colspan="3">Opening Keynote: <a
                    href="/_talks/accessibility-the-forgotten-piece-you-need-to-know-to-become-a-complete-developer">Accessibility:
                The Forgotten Piece you need to know to become a complete Developer</a>(<a href="/_speakers/joe-devon">Joe
                Devon</a>)
        </td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>10:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/your-inner-sysadmin">Your Inner SysAdmin</a> (<a href="/_speakers/chris-tankersley/">Chris Tankersley</a>)</td>
        <td data-title="Room 235"><a href="/_talks/getting-tls-right">Getting TLS Right</a> (<a href="/_speakers/zack-tollman">Zack Tollman</a>)</td>
        <td data-title="Room 238"><a href="/_talks/wordpress-as-an-application-framework/">WordPress as an Application Framework</a> (<a href="/_speakers/dustin-filippini">Dustin Filippini</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>11:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/developing-and-deploying-php-with-docker">Developing and Deploying PHP with Docker</a> (<a href="/_speakers/patrick-mizer">Patrick Mizer</a>)</td>
        <td data-title="Room 235"><a href="/_talks/breaking-the-stereotype">Breaking the Stereotype</a> (<a href="/_speakers/amy-hammond">Amy Hammond</a>)</td>
        <td data-title="Room 238"><a href="/_talks/scaling-wordpress">Scaling WordPress</a> (<a href="/_speakers/zack-tollman">Zack Tollman</a>)</td>
    </tr>
    <tr>
        <th scope="row" class="n" data-title="Time" nowrap>12:00 PM</th>
        <td data-title="" colspan="3">Lunch</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>1:00 PM</th>
        <td data-title="Auditorium"><a href="/_talks/the-only-girl-in-the-room">The Only Girl in the Room</a> (Panel Discussion)</td>
        <td data-title="Room 235"><a href="/_talks/mysql-5/">MySQL 5.7 -- New Features, Better Performance, and Things That Will Break</a> (<a href="/_speakers/dave-stokes">Dave Stokes</a>)</td>
        <td data-title="Room 238"><a href="/_talks/drupal-8-the-crash-course">Drupal 8: The Crash Course</a> (<a href="/_speakers/larry-garfield">Larry Garfield</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>2:00 PM</th>
        <td data-title="Auditorium"><a href="/_talks/beautiful-architectures-with-es6">Beautiful Architectures with ES6</a> (<a href="/_speakers/nate-abele">Nate Abele</a>)</td>
        <td data-title="Room 235"><a href="/_talks/practical-deployments-for-average-projects">Practical Deployments for Average Projects</a> (<a href="/_speakers/jonathan-reinink">Jonathan Reinink</a>)</td>
        <td data-title="Room 238"><a href="/_talks/container-coding">Container Coding</a> (<a href="/_speakers/patrick-schwisow">Patrick Schwisow</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>3:00 PM</th>
        <td data-title="Auditorium"><a href="/_talks/you-can-ux-too-avoid-the-programmers-interface">You Can UX Too: Avoiding the Programmer's Interface</a> (<a href="/_speakers/eryn-oneil">Eryn O'Neil</a>)</td>
        <td data-title="Room 235"><a href="/_talks/bringing-sculpin-to-life">Bringing Sculpin to Life</a> (<a href="/_speakers/beau-simensen">Beau Simensen</a>)</td>
        <td data-title="Room 238"><a href="/_talks/whats-in-your-project-root">What's in Your Project Root?</a> (<a href="/_speakers/jeremy-lindblom">Jeremy Lindblom</a>)</td>
    </tr>
    </tbody>
</table>

<h3>Day 2</h3>
<table class="table table-striped table-condensed">
    <thead>
    <tr class="vcard">
        <th scope="col">&nbsp;</th>
        <th scope="col">Auditorium</th>
        <th scope="col">Room 235</th>
        <th scope="col">Room 236</th>
    </tr>
    </thead>
    <tbody>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>9:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/inside-laravel-5.0">Inside Laravel 5.0</a> (<a href="/_speakers/yitzchok-willroth.html">Yitzchok Willroth</a>)</td>
        <td data-title="Room 235"><a href="/_talks/continuous-integration-stop-procrastinating-and-build-often">Continuous Integration: Stop Procrastinating and Build Often!</a> (<a href="/_speakers/patrick-mizer">Patrick Mizer</a>)</td>
        <td data-title="Room 238"><a href="/_talks/speak-http-and-consume-apis-with-guzzle">Speak HTTP and Consume APIs With Guzzle</a> (<a href="/_speakers/jeremy-lindblom">Jeremy Lindblom</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>10:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/licensing-and-you">Licensing and You</a> (<a href="/_speakers/chris-tankersley">Chris Tankersley</a>)</td>
        <td data-title="Room 235"><a href="/_talks/mentoring-change-the-world-one-hour-at-a-time">Mentoring: Change the World One Hour at a Time</a> (<a href="/_speakers/beth-tucker-long">Beth Tucker Long</a>)</td>
        <td data-title="Room 238"><a href="/_talks/demystifying-the-rest-api">Demystifying the REST API</a> (<a href="/_speakers/samantha-quinones">Samantha Quinones</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>11:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/navigating-your-git-repository">Navigating Your Git Repository</a> (<a href="/_speakers/gemma-anible">Gemma Anible</a>)</td>
        <td data-title="Room 235"><a href="/_talks/php-extensions">PHP Extensions</a> (<a href="/_speakers/elizabeth-smith">Elizabeth Smith</a>)</td>
        <td data-title="Room 238"><a href="/_talks/demilitarizing-http-developing-apis-for-hostile-mobile-developers">Demilitarizing HTTP -- Developing APIs for Hostile Mobile Developers</a> (<a href="/_speakers/maxwell-vandervelde">Maxwell Vandervelde</a>)</td>
    </tr>
    <tr>
        <th scope="row" class="n" data-title="Time" nowrap>12:00 PM</th>
        <td data-title="" colspan="3">Lunch</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>1:00 PM</th>
        <td data-title="Auditorium"><a href="/_talks/getting-off-of-the-freelance-roller-coaster">Getting off the Freelance Roller-Coastert</a> (<a href="/_speakers/yitzchok-willroth">Yitzchok Willroth</a>)</td>
        <td data-title="Room 235"><a href="/_talks/scaling-magento-reaching-peak-performance">Scaling Magento - Reaching Peak Performance</a> (<a href="/_speakers/mathew-beane">Mathew Beane</a>)</td>
        <td data-title="Room 238"><a href="/_talks/from-zero-to-silex">From Zero to Silex</a> (<a href="/_speakers/larry-garfield">Larry Garfield</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>2:00 PM</th>
        <td data-title="Auditorium"><a href="/_talks/accessibility-and-security">Accessibility and Security</a> (<a href="/_speakers/nicolas-steenhout">Nicolas Steenhout</a>)</td>
        <td data-title="Room 235"><a href="/_talks/project-triage-what-to-do-when-everything-hits-the-fan">Project Triage: What to Do When Everything Hits the Fan</a> (<a href="/_speakers/eryn-oneil">Eryn O'Neil</a>)</td>
        <td data-title="Room 238"><a href="/_talks/service-oriented-architecture-its-time-to-play-nice-with-others">Service Oriented Architecture: It's Time to Play Nice With Others!</a> (<a href="/_speakers/mike-willbanks">Mike Willbanks</a>)</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>3:00 PM</th>
        <td data-title="Aditorium" colspan="3">Closing Keynote: <a href="/_talks/give-it-back-getting-involoved-in-open-source">Give it Back - Getting Involved in Open Source</a> (<a href="/_speakers/elizabeth-smith">Elizabeth Smith</a>)</td>
    </tr>
    </tbody>
</table>
</div>