---
layout: default
title: Schedule
use: [talks]
---
<h3>Day 1</h3>
<table class="">
    <thead>
    <tr class="vcard">
        <th scope="col">&nbsp;</th>
        <th scope="col">Auditorium</th>
        <th scope="col">Room 235</th>
        <th scope="col">Room 236</th>
    </tr>
    </thead>
    <tbody>
    <tr class="vcard">
        <td data-title="Time">8:00 - 9:00 AM</td>
        <td data-title="Main Entry" colspan="3">Registration</td>
    </tr>
    <tr class="vcard">
        <td scope="row" data-title="Time">9:00 AM</td>
        <td data-title="Auditorium">Opening Keynote - <a
                    href="/_talks/accessibility-the-forgotten-piece-you-need-to-know-to-become-a-complete-developer">Accessibility:
                The Forgotten Piece you need to know to become a complete Developer</a> (<a href="/_speakers/joe-devon">Joe
                Devon</a>)
        </td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>10:00 AM</th>
        <td data-title="Auditorium"><a href="/_talks/your-inner-sysadmin">Your Inner SysAdmin</a> (<a href="/_speakers/chis-tankersley/">Chris Tankersley</a>)</td>
        <td data-title="Room 235"><a href="/_talks/getting-off-of-the-freelance-roller-coaster">Getting off the Freelance Roller-Coaster</a> (<a href="_speakers/yitzchok-willroth">Yitzchok Willroth</a>)</td>
        <td data-title="Room 238">WordPress as an Application Framework</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>11:00 AM</th>
        <td data-title="Auditorium">Developing and Deploying PHP with Docker
        </td>
        <td data-title="Room 235">Breaking the Stereotype</td>
        <td data-title="Room 238">Scaling WordPress</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>1:00 PM</th>
        <td data-title="Auditorium">The Only Girl in the Room</td>
        <td data-title="Room 235">MySQL 5.7 -- New Features, Better Performance, and Things That Will Break</td>
        <td data-title="Room 238">From Zero to Silex</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>2:00 PM</th>
        <td data-title="Auditorium">Beautiful Architectures with ES6</td>
        <td data-title="Room 235">Mentoring: Change the World One Hour at a Time</td>
        <td data-title="Room 238">Drupal 8: The Crash Course</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>3:00 PM</th>
        <td data-title="Auditorium">You Can UX Too: Avoiding the Programmer's Interface</td>
        <td data-title="Room 235">Project Triage: What to Do When Everything Hits the Fan</td>
        <td data-title="Room 238">Inside Laravel 5.0</td>
    </tr>
    </tbody>
</table>

<h3>Day 2</h3>
<table class="">
    <thead>
    <tr class="vcard">
        <th scope="col">&nbsp;</th>
        <th scope="col">Auditorium</th>
        <th scope="col">Room 235</th>
        <th scope="col">Room 236</th>
    </tr>
    </thead>
    <tbody>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>9:00 AM</th>
        <td data-title="Auditorium">What's in Your Project Root?</td>
        <td data-title="Room 235">Continuous Integration: Stop Procrastinating and Build Often!</td>
        <td data-title="Room 238">Speak HTTP and Consume APIs With Guzzle</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>10:00 AM</th>
        <td data-title="Auditorium">Licensing and You</td>
        <td data-title="Room 235">Practical Deployments for Average Projects</td>
        <td data-title="Room 238">Demystifying the REST API</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>11:00 AM</th>
        <td data-title="Auditorium">Navigating Your Git Repository</td>
        <td data-title="Room 235">PHP Extensions</td>
        <td data-title="Room 238">Demilitarizing HTTP -- Developing APIs for Hostile Mobile Developers</td>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>1:00 PM</th>
        <td data-title="Auditorium">Getting TLS Right</td>
        <td data-title="Room 235">Scaling Magento - Reaching Peak Performance</td>
        <td data-title="Room 238">Container Coding</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>2:00 PM</th>
        <td data-title="Auditorium">Accessibility and Security</td>
        <td data-title="Room 235">Bringing Sculpin to Life</td>
        <td data-title="Room 238">Service Oriented Architecture: It's Time to Play Nice With Others!</td>
    </tr>
    <tr class="vcard">
        <th scope="row" class="n" data-title="Time" nowrap>3:00 PM</th>
        <td data-title="Aditorium">Closing Keynote: Give it Back - Getting Involved in Open Source</td>
    </tr>
    </tbody>
</table>