---
layout: default
title: Sessions
use: [talks]
---
<p>The accepted list of presentations for the Midwest PHP 2015 Conference is below. A full schedule of events will be
    published by late January.
    <a href="/register" title="Register for the Midwest PHP 2015 Conference">Register for Midwest PHP 2015</a> today
    to secure your spot at the conference!</p>

{% include 'talks-block' %}