---
layout: default
title: Social Hour
---

<p>Come join us for the Midwest PHP 2015 social hour following the final talk on Saturday March 14th. Midwest PHP will be providing food and beverages while you sit back, relax, and enjoy the atmosphere that Brit's Pub provides.</p>

<p>Where: Brit's Pub located at <address>1110 Nicollet Mall Minneapolis, MN 55403</address></p>

<p>When: Saturday March 14 from 5:30 - ?</p>

<p>Who: Everyone registered for the confernece. Please make sure to bring your badge to enter.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2822.5672812104767!2d-93.276043!3d44.972786000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d44.973939699999995!2d-93.2777811!4m5!1s0x52b33295e3f7cda9%3A0xb5e0e0ef54ce6568!2sBrit&#39;s+Pub%2C+1110+Nicollet+Mall%2C+Minneapolis%2C+MN+55403!3m2!1d44.972786!2d-93.276043!5e0!3m2!1sen!2sus!4v1425004569056" width="100%" height="300" frameborder="0" style="border:0"></iframe>