---
layout: default
title: Speakers
use: [speakers]
---
<p>We are delighted to present our collection of speakers for Midwest PHP 2015. Don&#39;t miss your chance to
    catch their presentations in March at the University of St. Thomas Minneapolis Campus: <a href="/register">Get your
    tickets today!</a></p>

{% include 'speakers-block' %}