---
layout: default
title: Speakers
use: [speakers]
---
<p>Below you will find the speakers that will be presenting at this year's Midwest PHP Conference. Make sure to <a
            href="/register">register</a> today in order to hear these wonderful speakers</p>

{% include 'speakers-block' %}