---
layout: default
title: Sponsors
use: [sponsors]
---

Companies like yours make Midwest PHP possible. We offer a wide range of sponsorship packages to provide visibility to your brand during our two days of conference events. Our hope is that you will find a package that is a good fit for your company and that you choose to become a part of our conference and community.
 
If you’re interested in sponsoring Midwest PHP but are unable to find a package that meets your needs, we would be happy to discuss any ideas you might have.

If your organization is interested in sponsoring the Midwest PHP 2015 Conference, please contact us at info@midwestphp.org, and
we'll send you a copy of our sponsorship prospectus.
<hr />

{% for sponsor in data.sponsors %}
<a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
{% endfor %}