---
layout: default
title: Venue
---

<div class="header-image">
    <img src="/img/university-of-st-thomas.jpg" alt="University of St. Thomas Minneapolis Campus"/>
</div>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.476770949153!2d-93.27681200000004!3d44.974624999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b332944d15d063%3A0x9a649762fe0f4b77!2sUniversity+of+St.+Thomas+-+Minneapolis+Campus!5e0!3m2!1sen!2sus!4v1413663280838"
            width="1200" height="300" frameborder="0" style="border:0"></iframe>
</p>

<p><a href="/pdf/DirectionstoMpls.pdf">Driving Directions</a> | <a href="/pdf/mplsdirections_color.pdf">Parking Directions</a></p>

<section class="hotels">
<h2>Hotels</h2>

<ul class="hotel-list">
    <li class="hotel">
        <h3 class="title">DoubleTree Suites by Hilton Hotel Minneapolis</h3>
        <p class="contact-details">
            1101 Lasalle Ave Minneapolis, MN 55403<br/>
            <a href="tel:+16123326800" class="phone-link">(612) 332-6800</a><br/>
            <a href="http://doubletree3.hilton.com" title="DoubleTree Suites by Hilton Hotel Minneapolis">doubletree3.hilton.com</a>
            <a href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSPLSDT-PHP-20150313/index.jhtml?WT.mc_id=POG" target="_blank">Group Rate Registration</a>
        </p>
    </li><!-- .hotel -->

    <li class="hotel">
        <h3 class="title">Le Méridien Chambers Minneapolis</h3>
        <p class="contact-details">
            901 Hennepin Ave Minneapolis, MN 55403<br/>
            <a href="tel:+16127676900" class="phone-link">(612) 767-6900</a><br/>
            <a href="http://www.lemeridienchambers.com/" title="Le Méridien Chambers Minneapolis">lemeridienchambers.com</a>
        </p>
    </li><!-- .hotel -->

    <li class="hotel">
        <h3 class="title">Hilton Minneapolis</h3>
        <p class="contact-details">
            1001 S Marquette Ave Minneapolis, MN 55403<br/>
            <a href="tel:+16123761000" class="phone-link">(612) 376-1000</a><br/>
            <a href="http://www3.hilton.com/en/hotels/minnesota/hilton-minneapolis-MSPMHHH/index.html"
               title="Hilton Minneapolis">hilton.com</a>
        </p>
    </li><!-- .hotel -->
</ul>
</section><!-- .hotels -->
