---
layout: default
title: Venue
---

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.476770949153!2d-93.27681200000004!3d44.974624999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b332944d15d063%3A0x9a649762fe0f4b77!2sUniversity+of+St.+Thomas+-+Minneapolis+Campus!5e0!3m2!1sen!2sus!4v1413663280838"
        width="700" height="400" frameborder="0" style="border:0"></iframe>
<p></p>
<h2>Parking</h2>
<address>1100 Harmon Pl, Minneapolis, MN 55403</address>
<address>1001 Hennepin Ave Minneapolis, MN 55403</address>
<address>910 Lasalle Ave Minneapolis, MN 55402</address>
<address>915 Lasalle Ave Minneapolis, MN 55403</address>
<p></p>
<h2>Hotels</h2>
<div class="hotel">
    <h3>DoubleTree Suites by Hilton Hotel Minneapolis</h3>
    <address>1101 Lasalle Ave Minneapolis, MN 55403</address>
    <a href="http://doubletree3.hilton.com">http://doubletree3.hilton.com</a><br/>
    (612) 332-6800<br />
</div>
<br /><br />
<div class="hotel">
    <h3>Le Méridien Chambers Minneapolis</h3>
    <address>901 Hennepin Ave Minneapolis, MN 55403</address>
    <a href="http://www.lemeridienchambers.com/">http://www.lemeridienchambers.com/</a><br/>
    (612) 767-6900<br />
</div>
<br /><br />
<div class="hotel">
    <h3>Hilton Minneapolis</h3>
    <address>1001 S Marquette Ave Minneapolis, MN 55403</address>
    <a href="http://www3.hilton.com/en/hotels/minnesota/hilton-minneapolis-MSPMHHH/index.html">http://www.hilton.com</a>
    (612) 376-1000<br />
</div>
