---
layout: default
title: Write Ups
use: [sponsors]
---
<p>Did you attend the Midwest PHP 2015 Conference. We would love to see your write up on the event. Send us a pull request or email and I would love to add it to the list below.</p>
<p>
    <a href="http://srcmvn.com/blog/2015/03/20/midwest-php-2015-recap/" target="_blank">Midwest PHP
        2015 Recap</a> By <a href="https://twitter.com/beausimensen" target="_blank">Beau Simensen</a>
</p>
<p>
    <a href="https://www.tollmanz.com/mwphp15/" target="_blank">MidwestPHP 2015 Wrap-up</a> By <a
            href="https://twitter.com/tollmanz" target="_blank">Zack Tollman</a>
</p>
<p><a href="http://www.absolutemg.com/2015/03/19/takeaways-midwest-php-conference/" target="_blank">Take-Aways from the
        Midwest PHP Conference</a> By <a href="https://twitter.com/hightechredneck" target="_blank">Becky Resler</a></p>
<p><a href="https://www.irishtitan.com/news/midwest-php-recap-accessibility-standards-all" target="_blank">Midwest PHP Recap: Accessibility Standards For All</a> By Jessica Schneider</p>
<p><a href="https://opensourcedba.wordpress.com/2015/03/23/a-tale-of-two-conferences-midwest-php-and-kansas-linuxfest/" target="_blank">A Tale of Two Conferences — Midwest PHP and Kansas Linuxfest</a> By <a href="https://twitter.com/stoker" target="_blank">Dave Stokes</a></p>
<p><a href="https://www.advomatic.com/blog/midwest-php-2015" target="_blank">A Drupal Developer in PHP Land</a> By <a href="https://twitter.com/hey_germano" target="_blank">Sarah German</a></p>

{% if site.template != 'splash' %}
    {% include 'sponsors-block' %}
{% endif %}

